.page-template .author-profile,
.author-template .author-profile {
  text-align: center;
}

.page-template .author-bio,
.author-template .author-bio {
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 200;
  color: #50585D;
  letter-spacing: 0;
  text-indent: 0;
}

.page-template .author-meta,
.author-template .author-meta {
  color: $author-meta-data-color;
}

.page-template .author-image,
.author-template .author-image {
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  margin: 4rem auto 1rem auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 6px;
  overflow: hidden;
  box-shadow: $border-color 0 0 0 1px;
}

.page-template .author-title,
.author-template .author-title {
  margin: 0;
}

.author-image .img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}
