/* ==========================================================================
   Error - CSS for 404 and similar pages
   ========================================================================== */

.error-404 {
  text-align: center;
}

.error-404 h1 {
  font-size: 8rem;
  font-weight: normal;
  letter-spacing: .2rem;
}
