/* ==========================================================================
  Loop - CSS used to style list of posts
  ========================================================================== */

.post-card {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  background-color: #fcfcfc;
  box-shadow: 10px 10px 30px -10px #333;
  transition: box-shadow .2s linear;
  min-height: 350px;
}

.post-card:hover {
  box-shadow: 2px 2px 30px -10px #333;
}

.post-card:hover a {
  text-decoration: underline;
}

.post-card:hover .post-card-meta {
  background-color: $anchor-btn-passive-color;
}

.post-card:hover .read-more {
  text-decoration: none;
  border-color: $anchor-btn-passive-color;
  background-color: $anchor-btn-passive-color;
}

.post-card .content {
  padding-left: .5rem;
  padding-right: .5rem;
}

.post-card-title {
  font-size: 3.3rem;
  letter-spacing: -1px;
  margin: 0;
}

.post-card-header {
  margin-top: 1rem;
}

.post-card-title a {
  text-decoration: none;
}

.post-card-excerpt p {
  margin: 0;
}

.post-card .read-more {
  text-align: center;
  width: 10rem;
  padding: .5rem;
  border-radius: 5px;
  border: 2px solid $border-color;
  text-decoration: none;
  transition: border-color .2s linear, background-color .2s linear;
}

.post-card .read-more:hover {
  border-color: $anchor-btn-active-color;
  background-color: $anchor-btn-active-color;
}

.post-card-image {
  height: 150px;
  background-position: center;
  background-size: cover;
}

.post-card-meta {
  font-size: 1.2rem;
  background: #e6e6e6;
  transition: background-color .2s linear;
}

.post-card footer {
  padding: .5rem;
}
