/* ==========================================================================
  Loop - CSS used to style list of posts
  ========================================================================== */

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem .5rem;
  box-sizing: border-box;
}

.post-card {
  border-radius: 3px;
  border: 1px solid $border-color;
  margin: 0 0 2rem 2rem;
  max-height: 386px;
  box-sizing: border-box;
}

.post-card-title {
  font-size: 3.3rem;
  letter-spacing: -1px;
}

.post-card-title a {
  text-decoration: none;
}

.post-card-image {
  width: 100%;
  max-height: 100px;
}

.post-card-body {
  padding: 1rem;
}

.post-card-meta {
  font-size: 1.2rem;
  margin: .5rem 0;
}

@media(max-width: 1099px) {
  .post-card {
    width: 35rem;
    margin: 0 0 2rem 2rem;
    max-height: 100%;
  }

  .post-card:nth-child(odd) {
    margin-left: 0;
  }
}


@media(max-width: 768px) {
  .posts-wrapper {
    flex-direction: column;
  }

  .post-card {
    width: 100%;
    margin: 0 0 2rem 0;
    max-height: 100%;
  }
}

@media(min-width: 1100px) {
  .post-card {
    width: 35rem;
    margin: 0 0 2rem 2rem;
    max-height: 100%;
  }

  .post-card:nth-child(3n+1) {
    margin-left: 0;
  }
}
