/* ==========================================================================
   Navigation - CSS for top level site navigation
   ========================================================================== */
.site-nav {
  overflow: hidden;
  background-color: #a4b7bb;
  padding: 0 5rem;
}

.site-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.site-nav li:first {
  margin-left: 0;
}

.site-nav li:last-child {
  margin-right: 0;
}

.site-nav li {
  margin: .5rem;
}

@media(max-width: 768px) {
  .sive-nav {
    padding: 0 1rem;
  }
  
  .site-nav ul {
    justify-content: center;
  }
}
