/* ==========================================================================
Post - CSS used to style individual posts
========================================================================== */

.post-template .post-title {
  margin-bottom: 1rem;
}

.post-template .post-meta {
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
  border-bottom: $border-color solid 1px;
}

.post-template .post-footer {
  position: relative;
  margin: 6rem 0 0 0;
  padding: 3rem 0 0 0;
  border-top: $border-color 1px solid;
}

.post-template .post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}

.post-template .post-footer p {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.75em;
}

.post-template .author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: $author-meta-data-color;
}

.post-template .author-meta a {
  color: $author-meta-data-color;
}

.post-template .author-meta a:hover {
  color: $meta-link-hover-color;
}

.post-template .author-image {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -50px;
  top: 16px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  padding: 6px;
  z-index: 2;
  box-shadow: $border-color 0 0 0 1px;
}

.post-template .author {
  margin-left: 80px;
}

.post-template .post-footer h4 a {
  text-decoration: none;
}

.post-template .post-footer h4 a:hover {
  text-decoration: underline;
}

@media(max-width: 500px) {
  .post-template .author {
    margin-top: 1rem;
    margin-left: 0;
  }

  .author-image {
    top: -60px;
    left: 50%;
    margin-left: -40px;
  }
}
