/* ==========================================================================
  Settings & Mixins - Sass mixins and variables defined here
  ========================================================================== */

$general-font: "Merriweather", serif;
$label-font: "Open Sans", sans-serif;
$code-font: "Inconsolata", monospace, sans-serif;

$border-color: #e4e4e4;
$border-link-color: #bbc7cc;

$code-color: #f7fafb;
