/* ==========================================================================
  Settings & Mixins - Sass mixins and variables defined here
  ========================================================================== */

$general-font: "Merriweather", serif;
$label-font: "Open Sans", sans-serif;
$code-font: "Inconsolata", monospace, sans-serif;

$border-color: #e4e4e4;
$border-link-color: #bbc7cc;

$code-color: #f7fafb;

$author-meta-data-color: #9eabb3;
$meta-link-hover-color: #111111;

$anchor-btn-active-color: #ff6a6a;
$anchor-btn-passive-color: #ff8585;

$passive-text-color: #4a4a4a;
