/* ==========================================================================
   3. Utilities - Reusable CSS modifiers
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.inner {
    position: relative;
    width: 80%;
    margin: 4rem auto;
    margin: 0 auto;
    max-width: 1110px;
}

@media(max-width: 500px) {
  .inner {
    width: 90%;
  }
}
